body {
	min-height: 470px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	height: 100vh;
	background-color: $body-background-color;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.application-wrapper {
  max-width: 1170px;
  width: 1170px;
  //display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}
.controls-info-wrapper {
  position: relative;
  background-color: $box-background-color;
}
.content-edit-wrapper {
    margin-top: 40px;
    background-color: $box-background-color;
    padding: 40px;
}
.content-title {
	flex: 0 0 100%;
    font-size: 28px;
}
.full-flex-box {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}